@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-color: #084ea2;
    --primary-dark-color: #031933ad;
    --secondary-color: #c3deff;
    --hover-color: #e7eaee;
}

.services-body{
    min-height: 10rem;
    padding: 7.5% 10%;
}

.services-body ol li b{
    font-size: 1.5em;
}

.services-body ol li p{
    font-size: larger;
}