@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #084ea2;
  --primary-dark-color: #031933ad;
  --secondary-color: #c3deff;
  --hover-color: #7a97b9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
}

/* --- START OF NAVIGATION BAR --- */

header {
  display: none;
}

nav {
  background-color: var(--primary-color);
  display: flex;
  list-style: none;
  color: white;
  align-items: center;
  height: 5em;
  position: relative;
  top: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

#logo-img {
  height: 8rem;
  margin-left: 3em;
  margin-right: 1.5em;
}

#comp-name {
  margin-right: auto;
  font-size: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 1em;
}

nav ul li a{
  color: var(--primary-color);
}

.nav-links {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5em;
  color: white;
}

.nav-links:hover {
  color: var(--secondary-color);
}

.nav-links:active {
  color: var(--primary-dark-color);
}

#enquire-btn {
  margin-left: -2%;
}

.btn {
  background-color: white;
  color: var(--primary-color);
  text-shadow: 0 0 0.05rem currentColor;
  font-family: "Roboto Flex", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  width: 6.5rem;
  height: 2em;
  border: none;
  border-radius: 0.25rem;
  transition: all 150ms ease-in-out;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-dark-color);
  font-family: "Roboto Flex", sans-serif;
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px white;
}

.btn:active {
  scale: 0.95;
}

#open-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  margin-left: auto;
  cursor: pointer;
}

#close-sidebar-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: -9;
  transition: all 500ms ease-in-out;
  display: none;
}

/* --- END OF NAVIGATION BAR --- */

/* --- START OF DYNAMIC HEADING BAR --- */

.headbar-parent {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 20em;
  margin: 3em 3em;
}

.headbar-box {
  height: auto;
  width: auto;
  padding: 1em;
  background-color: #f1f0f0;
  border-radius: 1em;
  border: solid 0.25em var(--primary-dark-color);
  transition: box-shadow 150ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: mymove 2s infinite;
}

.headbar-box:hover {
  box-shadow: 0 0 2rem var(--primary-color);
  animation-play-state: paused;
}

.headbar-text {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: var(--primary-color);
}

.headbar-text:hover {
  animation-play-state: paused;
}

@keyframes mymove {
  50% {
    scale: 1.05;
    font-size: 1.5rem;
    font-weight: bolder;
  }
}

/* --- END OF DYNAMIC HEADING BAR --- */

/* --- START OF SERVICE CARD AREA --- */

.service-card-area {
  height: fit-content;
  margin: 0 10em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2em;
}

.service-card {
  height: fit-content;
  max-width: 20em;
  border: solid 1px black;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  scale: 0.9;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.service-card:hover {
  box-shadow: 0 0 2em var(--primary-color);
  scale: 1;
}

.service-card img {
  scale: 0.75;
  margin: -2em;
}

.all-text {
  padding: 1em;
  background: white;
  border-radius: 0 0 2em 2em;
}

.all-text p {
  display: -webkit-box;
  line-clamp: none;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  filter: blur(0.125em);
  transition: filter 150ms ease-in-out;
}

.all-text p:hover {
  filter: none;
}

/* --- END OF SERVICE CARD AREA --- */

.testimonials {
  display: flex;
  justify-content: center;
}

/* --- START OF FOOTER --- */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 25vh;
  background-color: var(--primary-color);
  position: static;
  bottom: 0;
}

#footer-img {
  width: 20em;
  margin: 0 3em;
}

.contact-details {
  width: 30%;
}

.mobile,
.email {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bolder;
  color: white;
}

.mobile img,
.email img {
  height: 3em;
}

/* --- END OF FOOTER --- */

@media screen and (max-width: 1200px) {
  #open-sidebar-button,
  #close-sidebar-button {
    display: block;
  }

  nav.show {
    right: 0;
  }

  nav.show ~ #overlay {
    display: block;
    z-index: 9;
  }


  header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    list-style: none;
    color: white;
    align-items: center;
    height: 5em;
    position: relative;
    top: 1em;
  }

  #logo-img-resp {
    height: 8rem;
    margin-left: 3em;
    margin-right: 1.5em;
  }

  #comp-name-resp {
    margin-right: auto;
    font-size: 2.5rem;
    font-weight: normal;
  }

  nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--hover-color);
    transition: right 400ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    height: 25em;
    width: inherit;
    align-items: baseline;
    justify-content: space-evenly;
  }

  nav ul li{
    margin: 2% 0;
    padding: 0;
  }

  .nav-links {
    padding: 2rem 0;
  }

  #logo-img,
  #comp-name {
    display: none;
  }

  #footer-img {
    width: 15em;
    margin: 0 1em;
  }

  .contact-details {
    width: 50%;
  }
}
